body {
  background-color: lightblue;
  font-family: "Times New Roman", Times, serif, sans-serif;
  text-align: center;
}

section {
  background-color: white;
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
}

h2 {
  color: #333333;
}

p {
  color: #666666;
  font-size: 18px;
  line-height: 1.6;
}
