body {
  background-color: #dbdbdb;
}

h1 {
  font-size: 48px;
}

.paragrafo-m {
  color: #666666;
  font-size: 28px;
}

p{
  color: #666666;
  font-size: 18px;
}

.caixa-contato {
  display: flex;
}

.caixa-contato a {
  background-color: #535353;
  color : #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.caixa-informacoes {
  margin: 20px;
}

.caixa-principal {
  display: flex;
  margin: 100px 70px;
}

.foto-perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
